@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: "Roboto", sans-serif;
  @apply bg-white text-black;
}

/* * {
  border: 2px solid red;
} */
